@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.gmnoprint{
    display: none !important;
}
body{
    font-family: 'Roboto', sans-serif !important;
}

.mx-10{
    margin-left:  10px;
    margin-right: 10px;
}

.my-10{
    margin-top:  10px;
    margin-bottom: 10px;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}


.anchor-label{
    text-decoration: none;
    color: black;
    margin-left: 10px
}

.content-image-container{
    max-width:400px;
    margin:0 auto;
    height:300px
}

.content-image-container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.ui.header{
    text-align: center;
}
.p-5{
    padding: 5px;
}

.px-10{
    padding-left: 10px;
    padding-right: 10px;
}

.py-10{
    padding-top: 10px;
    padding-bottom: 10px;
}

.position-relative{
    position:relative
}

.position-absolute{
    position:absolute
}

.w-250{
    width: 250px;
}

.w-200{
    width:200px
}

.border-standard{
    border: 1px solid rgb(65, 64, 64);
}

.border-top-0{
    border-top: none;
}

.border-left-0{
    border-left: none;
}

.border-right-0{
    border-right: none;
}

.border-bottom-0{
    border-bottom: none;
}

.h-100{
    height:100px
}

.d-flex{
    display: flex;
}

.d-block{
    display: block;
}

.align-items-center{
    align-items:center
}

input{
    outline: none;
}

.text-left{
    text-align: left;
}

.font-white{
    color: white;
}

.error-message{
    color: #ff3636;
    font-weight: bold;
    font-size: 0.9rem;
}

@media screen and (max-width:600px){
    .user-ui-container{
        background-size:initial;
    }

    .mobile-display-block{
        display:block !important;
    }

    .content-image-container{
        max-width: 200px;
        height: 150px;
    }

    .places-detail-container{
        max-height: 250px !important;
        max-width: 270px;
    }

    .header{
        font-size: 0.9rem;
    }

    .meta{
        display: none;
    }

    .w-200{
        width: 250px;
    }

    .font-white{
        margin-top:5px
    }

    .position-absolute.max{
        right: 135px;
    }

    .label-container{
        top:-40px;    
    }

    .label-container label{
        padding: 10px 18px;
    }
}