.mx-10{
    margin-left:  10px;
    margin-right: 10px;
}

.my-10{
    margin-top:  10px;
    margin-bottom: 10px;
}

.px-10{
    padding-left: 10px;
    padding-right: 10px;
}

.py-10{
    padding-top: 10px;
    padding-bottom: 10px;
}

.w-250{
    width: 250px;
}

.w-200{
    width:200px
}

.border-standard{
    border: 1px solid rgb(65, 64, 64);
}

.border-top-0{
    border-top: none;
}

.border-left-0{
    border-left: none;
}

.border-right-0{
    border-right: none;
}

.border-bottom-0{
    border-bottom: none;
}

.h-100{
    height:100px
}

.d-flex{
    display: flex;
}

.d-block{
    display: block;
}

.align-items-center{
    align-items:center
}

input{
    outline: none;
}

.text-left{
    text-align: left;
}

.font-white{
    color: white;
}